table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid $mainColor;
  padding: 0;
  background-color: $mainColor;
  white-space: nowrap;
  margin: 0 auto;
}
td, tr {
  padding: 0;
  width: 100%;
}

