$mainColor: #CCCCCC;
$revealedColor: #DDDDDD;
$value1: #355C7D;
$value2: #99B898;
$value3: #F67280;
$value4: #2F9395;
$value5: #F8B195;
$value6: #F8B195;
$value7: #FDD2B5;
$value8: #CC527A;
$value9: #E8175D;